<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <title>Eazily-LED | About</title>
</head>
<body style="font-family: 'Saira Semi Condensed', sans-serif;">

<nav style="background-color:#E8E9EB;">
    <div class="container" style="padding:1% 6%">
        <div class="row">
            <div class="col-md-2">
                <a th:href="@{/}"><img id="brand-image" src="../images/logo.png" class="img-fluid" alt="logo"/></a>
            </div>
            <div class="col-md-4">
                <p></p>
            </div>
            <div class="col-md-2 nav-bar-link" style="margin: auto; font-size: 20px; font-weight:bold;">
                <li style="list-style-type: none;"><a th:href="@{/about}" style=" color: #313638;">About</a></li>
            </div>
            <div class="col-md-2 nav-bar-link" style="margin: auto; font-size: 20px; font-weight:bold;">
                <li style="list-style-type: none;"><a th:href="@{/projects}" style="color: #313638;">Projects</a></li>
            </div>
            <div class="col-md-2 nav-bar-link" style="margin: auto; font-size: 20px; font-weight:bold;">
                <li style="list-style-type: none;"><a th:href="@{/contact}" style=" color: #313638;">Contact us</a></li>
            </div>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row" style="padding:2% 6% 1% 6%">
        <h1>About Us</h1>
    </div>
    <div class="row" style="padding:2% 6% 1% 6%">
        <p>The demise of the Light Bulb is moving ever closer to us with less manufacturers, rising costs and the increased difficulty in finding spares or replacement bulbs for existing uses.</p>
        <p>The increasingly widespread use of LED’s in previously unthought-of applications is making the economic benefits of LED use more viable.</p>
        <p>This however brings about a new set of problems, as the use of LED’s although are more flexible in many circumstances, this new technology is totally different to the old “Filament” type bulb.</p>
        <p>That’s where Eazily-LED come in. We are experienced designers and installers of LED lighting solutions for the Home and Leisure markets and can advise you on how to get the best LED lighting effect.</p>
        <p>You can find examples of some of our solutions in various locations and some custom applications over in our projects page.</p>
    </div>
</div>

</body>
</html>