<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="../contact.css">
    <title>Eazily-LED | Contact Us</title>
</head>
<body style="font-family: 'Saira Semi Condensed', sans-serif;">

<nav style="background-color:#E8E9EB;">
    <div class="container" style="padding:1% 6%">
        <div class="row">
            <div class="col-md-2">
                <a th:href="@{/}"><img id="brand-image" src="../images/logo.png" class="img-fluid" alt="logo"/></a>
            </div>
            <div class="col-md-4">
                <p></p>
            </div>
            <div class="col-md-2 nav-bar-link" style="margin: auto; font-size: 20px; font-weight:bold;">
                <li style="list-style-type: none;"><a th:href="@{/about}" style=" color: #313638;">About</a></li>
            </div>
            <div class="col-md-2 nav-bar-link" style="margin: auto; font-size: 20px; font-weight:bold;">
                <li style="list-style-type: none;"><a th:href="@{/projects}" style="color: #313638;">Projects</a></li>
            </div>
            <div class="col-md-2 nav-bar-link" style="margin: auto; font-size: 20px; font-weight:bold;">
                <li style="list-style-type: none;"><a th:href="@{/contact}" style=" color: #313638;">Contact us</a></li>
            </div>
        </div>
    </div>
</nav>

<div class="container" style="padding:2% 6% 1% 6%">
    <h1>Contact us</h1>
    <form th:action="@{/ContactRequest}" method="POST">
        <div class="label">Name:</div>
        <div class="field">
            <input type="text" name="name"  title="Please enter your name">
        </div>
        <div class="label">Email:</div>
        <div class="field">
            <input type="text" name="email"  title="Please enter your email address">
        </div>
        <div class="label">Subject:</div>
        <div class="field">
            <input type="text" name="subject" title="Please enter the reason for your message">
        </div>
        <div class="label">Contact Number:</div>
        <div class="field">
            <input type="text" name="contactNumber" title="Please enter your phone number">
        </div>
        <div class="label">Message:</div>
        <div class="field">
            <textarea id="about-project" name="message"></textarea>
        </div>
        <input type="submit" name="submit" value="Send Message" id="send-message" style="clear: both;">
    </form>
    <div class="business-info">
        <h5>Michael Blee - Senior Lighting Consultant</h5>
        <h5>Email address: Eazily.l3d@gmail.com</h5>
        <h5>Mobile Number: 07847587344</h5>
    </div>
</div>
</body>
</html>