<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="../static/Eazily-led.css" />

</head>
<body>
    <div class="navbar">
        <nav>
            <div class="container">
                <a href="./home.html"><img id="brand-image" src="../static/images/Eazily-led logo.png"class="brand-logo" alt="logo"/></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="./about.html">About</a></li>
                    <li><a href="./projects.html">Projects</a></li>
                    <li><a href="./contact.html">Contact us</a></li>
                </ul>
                <!--<ul id="mobile-nav" class="side-nav">-->
                <!--<li class="active"><a th:href="@{/about}">About</a></li>-->
                <!--<li><a th:href="@{/projects}">Projects</a></li>-->
                <!--<li><a th:href="@{/contact}">Contact us</a></li>-->
                <!--</ul>-->
            </div>
        </nav>
    </div>
    <div class="main-container">
        <div class="top-main">
            <img id="home-brand-image" src="../static/images/Eazily-led logo.png"class="brand-logo" alt="logo"/>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A commodi dolores, in ipsam laudantium pariatur quam quas quasi sequi. Consequatur, eaque expedita facere illum placeat rerum sequi sit ut vel. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, assumenda commodi consequatur cupiditate dolores doloribus dolorum eligendi hic laudantium minus, mollitia natus repudiandae tempore temporibus ullam vero voluptate. Alias, iste?</p>
        </div>
    </div>
</body>
</html>