<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Eazily-LED | Projects</title>
</head>
<body>

<div class="container" max-width="100%">
        <div th:each="project : ${projects}">
            <div th:if="${project.id %2 != 0}">
                <div class="row">
                    <div class="col-md-4">
                        <a th:href="@{'/projects/' + ${project.title}}">
                            <img class="img-thumbnail" th:src="@{'/images/' + ${project.title} + '.jpg'}" />
                        </a>
                    </div>
                    <div class="col-md-8">
                        <a th:href="@{'/projects/' + ${project.title}}">
                            <h4 th:text="${project.title}"></h4>
                        </a>
                        <h5 th:text="'Uploaded on ' + ${project.date}"></h5>
                        <p th:text="${project.description}"></p>
                    </div>
                </div>
            </div>
            <div th:if="${project.id %2 == 0}">
                <div class="row">
                    <div class="col-md-8">
                        <a th:href="@{'/projects/' + ${project.title}}">
                            <h4 th:text="${project.title}"></h4>
                        </a>
                        <h5 th:text="'Uploaded on ' + ${project.date}"></h5>
                        <p th:text="${project.description}"></p>
                    </div>
                    <div class="col-md-4">
                        <a th:href="@{'/projects/' + ${project.title}}">
                            <img class="img-thumbnail" th:src="@{'/images/' + ${project.title} + '.jpg'}" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>